<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <title>Clases disponibles!</title>
</head>
<body>
    <div id="intro">
        <p>Hola!</p>
        <p>Estuve mirando las clases de <a href="https://nataliadufuur.com/" target="_blank" rel="noopener noreferrer">la Academia de Natalia Dufuur</a>, y miré la disponibilidad de las clases. Acá abajo van los cupos disponibles que encontré para las distintas clases.</p>
        <p>Puedes inscribirte en el link a cada clase.</p>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="outro">
        <p>Ten en cuenta que <i>puede que no estén todas las clases en este listado</i>. Hice mi mejor esfuerzo por ponerlas todas, pero puede que se me haya escapado alguna 🙂</p>
        <p>Un beso! Bai 💜</p>
    </div>
</body>
</html>